// main colors for the layout

$colors: (
    primary: #ed6a5a,
    second: #f4f1bb,
    third: #e6ebe0,
    fourth: #9bc1bc,
    new: #5ca4a9,
);

// for the background on existing & new tweets
$tweet-colors: #f4f1bb, #9bc1bc, #e6ebe0;
