body, html{
    height: 100%;
}

body {
    
    font-family: 'Space Mono', monospace;
    margin: 0;
    
    #nav-bar {
        background: color(primary);
        width: 100%;
        height: 4rem;
        position: fixed;
        z-index: 1;
        .logo {
            padding: .5rem;
            float: left;
            display: inline-block;
            width: 4rem;
            height: 4rem;
        }
    
        .header {
            padding: 1rem .5rem;
            color: #ffffff;
            text-decoration: none;
            font-size: 2rem;
            display: inline-block;
            
        }

        #compose {
            background-color:transparent;
            border:.25rem solid #ffffff;
            display:inline;
            cursor:pointer;
            color:#ffffff;
            font-size:1.125rem;
            padding:.25rem .5em;
            text-decoration:none;
            margin: .5rem;
            float: right;
        }
        
        #compose:hover {
            background-color:#000000;
            color:color(primary);
            border:.25rem solid #000000;
        }

        #compose:active {
            position:relative;
            top:.25rem;
        }

    }



}