.container {
    padding-top: 5rem;

    @include desktop {
        margin-left: auto;
        margin-right: auto;
        width:80%;
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas:
            "mainscreen secondaryscreen";
    }

    .new-tweet {

        background: #ffffff;
        border-color: color(primary);
        @extend %tweet-shared;
        height: 18rem;
        display:none;
        
        @include desktop {
            grid-area: mainscreen;
            height: fit-content;
            align-self: top;
            display: inline;
        }

        .tweet-header {
            padding: (.75rem 1.5rem);
            color: color(primary);
            text-decoration: none;
            font-size: 2rem;
        }

        .text-area {
            width: 90%;
            height: 6rem;
            font-size: 1.25rem;
            display: block;
            margin: .5rem auto;
        }
        .counter {
            float: right;
            margin: 1rem;
        }
        
        input[type="submit"]{
            background-color:transparent;
            border:.125rem solid color(primary);
            color:color(primary);
            font-size:1rem;
            padding:.1.25rem 0.5rem;
            text-decoration:none;
            margin: 1rem;
        }
        input[type="submit"]:hover {
            background-color:#000000;
            color:color(primary);
            border:.125rem solid #000000;
        }
        input[type="submit"]:active {
            position:relative;
            top:.25rem;
        }

        .error {      
            float:top;
            padding: 5px;
            height: 30px;
            background-color: #ff0000;
            font-size: 1rem;
            font-weight: bold;
            color: #e8fdff;
            display: none;
        }

    }

    #tweets-container{

        @include desktop {
            grid-area: secondaryscreen;
            height: fit-content;
            align-self: top;
            margin: 0; 
            width:100%;
        }

        @for $i from 1 through length($tweet-colors) {
            article:nth-child(#{length($tweet-colors)}n+#{$i}) {
                background: nth($tweet-colors, $i);
                border-color: #ffffff;
            }
        }
        
        article {
            @extend %tweet-shared;
            opacity: .8;
            .message-header {
                padding:.5rem;
                background: rgba(black, 0.5);
                color: #ffffff;
                font-weight: bold;
                font-size: 2rem;
                height: 30%;
            }


            .message-logo {
            width: 50px;
            height: 50px;
            margin: 0.5rem;
            float: left;
            }
            
            .message-id {
                float: right;
                font-weight:normal;
                font-size: 1rem;
                margin: 0.5rem;
            }

            
            .message-body {
                font-size: 1.5rem;
                margin: 2rem 1rem;
                word-wrap: break-word;
            }
            
            .message-footer {
                padding: 0.75rem;
                border-top: 2px #000000 solid;
                height: 5rem;
                
                .time-passed{
                    display:inline-block
                }

                .btn-sm {
                    float:right;                
                }

            }

        }

        article:hover {
            opacity: 1;
            border:.25rem solid color(fourth);
        }
    }   
}